/* Custom CSS */
  .hero {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}
.hero-text{
    background-size: cover;      /* Ensures the image covers the entire div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;  /* Centers the image within the div */
    width: 100%;                  /* Adjust width to fill the container */
    height: 100%;                 /* Adjust height to fill the container */
    position: relative;           /* Ensures positioning context for child elements */
    display: flex;                /* Allows vertical and horizontal centering */
    flex-direction: column;       /* Align children vertically */
    justify-content: center;      /* Centers children vertically */
    align-items: center; 
}
.hero-text h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
}
.hero-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.intro {
    font-size: 1.25rem;
    font-style: italic;
    margin-bottom: 30px;
}
.team {
    margin-top: 40px;
}
.team-member {
    background-color: #eaeaea;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}
.team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.team-member img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 15px;
}
.team-member h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.team-member p {
    font-size: 1rem;
    color: #555;
}
h1, h2{
    color: #eaeaea;
}

h3{
    color: #555;
}
.hero{
    height: 30vh;
    margin-bottom: 5vh;
}
/* .img{
    z-index: -1;
    display: flex;
    size-adjust: 100px;
} */