<app-default-navbar></app-default-navbar>

<body>
    <div class="hero">
        <div class="hero-text" [ngStyle]="{backgroundImage:'url('+img1+')'}">
            <!-- <img src="bg.jpeg" alt="" class="img"> -->
            <h1>Who we are</h1>
            <h2>Designers, thinkers & collaborators</h2>
        </div>
    </div>

    <div class="container content">
        <h3>About Us</h3>
        <p class="intro">Led by two friends Pranav & Sahil, we are a boutique brand communications agency where you get to deal directly with the creatives.</p>
        <p>We pride ourselves on our process, our craft, and our attention to detail. We also put a lot of time into nurturing our relations with our clients. We believe in charm, good manners, and punctuality, and a healthy dose of humor – we take pride in our work, but don’t take ourselves too seriously.</p>
        <p>We’re agile, flexible, nimble, responsive, and adaptive. There’s no agency hierarchy to trip over, no juniors making decisions about your brand or learning on your time – just a dedicated group of people who are all across, and focused on, your project.</p>
        <h3>Our Team</h3>
        <div class="row team">
            <div class="col-md-6 col-lg-3 mb-4, size">
                <div class="team-member">
                    <img src="team1.jpeg" alt="Pranav Kulkarni">
                    <h4>Pranav Kulkarni</h4>
                    <p>Director and founding partner of Studio Alto. Pranav has over 15 years experience in Australia and the UK. He has worked with a broad spectrum of clients, ranging from grassroots cultural and sustainability organisations to multi-national corporations.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4, size">
                <div class="team-member">
                    <img src="team2.jpeg" alt="Manoj Thorat">
                    <h4>Manoj Thorat</h4>
                    <p>Director and founding partner of Studio Alto. Manoj is not only an experienced designer, but an enthusiastic design teacher and a passionate musician.<br><br><br><br></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4, size">
                <div class="team-member">
                    <img src="team3.jpeg" alt="Sahil Matha">
                    <h4>Sahil Matha</h4>
                    <p>Visual communicator, part daydreamer, some would say Sahil sees the world through a slightly different lens. <br><br><br><br><br></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4, size">
                <div class="team-member">
                    <img src="team4.jpeg" alt="Janhavi Mote">
                    <h4>Janhavi Mote</h4>
                    <p>Janhavi has seen the creative industry from many sides of the spectrum: as brand ambassador, marketing coordinator, studio account manager, web nerd and designer.<br><br><br><br></p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>