<app-default-navbar></app-default-navbar>

<section class="section-hero">
    <div class="hero">
      <div class="hero-text-box">
        <h1 class="heading-primary">
          Match-Makers
        </h1>
        <p class="hero-description">
          Looking for your perfect match? Join MatchMakers today and start your journey to find 
          love and happiness. Your soulmate is just a few clicks away!
        </p>
        <!-- class="btn btn--fill margin-right-btn" -->
        <button class="button-85" role="button"><a href="/login" >Login</a></button>

        <button class="button-86" role="button"><a href="/register" >Register</a></button>
        
      </div>
      <div class="hero-img-box">
        <img
          src="hero.jpg"
          alt="Woman enjoying food, meals in storage container, and food bowls on a table"
          class="hero-img"
        />
      </div>
      <div class="delivered-meals">
        <div class="delivered-imgs">
          <img src="a.jpg" alt="Customer photo" />
          <img src="aa.jpg" alt="Customer photo" />
          <img src="f.jpg" alt="Customer photo" />
          <img src="mt.jpg" alt="Customer photo" />
          <img src="ff.jpg" alt="Customer photo" />
          <img src="f5.jpg" alt="Customer photo" />
        </div>
        <p class="delivered-text">
          <span>2,50,000+</span> active users!
        </p>
      </div>
    </div>
  </section>


  <div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container bottomContainer">
      <div class="ultimateImg">
        <img class="mainImg" src="about.jpg">
        <div class="purpleBox">
          <p class="purpleText">
            "I met my wonderful partner on MatchMakers, and we are now planning our future together. 
            Thank you, MatchMakers, for bringing us together!"<br>
            - <b>Priya</b> 

          </p>
          <img class="stars" src=""><p>⭐⭐⭐⭐⭐</p>
        </div>
      </div>
      <div class="allText bottomText">
        <p class="text-blk headingText">
          About Us
        </p>
        <p class="text-blk subHeadingText">
          Bringing Together, <br>The Matches Made In Heaven
        </p>
        <p class="text-blk description">
          Welcome to MatchMakers, where tradition meets technology to bring you closer to your perfect match. 
          Our platform ensures a seamless and secure matchmaking experience. Whether you're seeking a life partner who shares your values, culture, 
          or interests, MatchMakers is dedicated to helping you find that special someone. Join our community 
          today and start your journey towards a loving and lasting relationship.
        </p>
        <a href="/aboutUs" class="explore">
          Read More
        </a>
      </div>
    </div>
  </div>