
  /* Style the modal-content */
  .modal-content {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
    position: relative;
  }
  
  /* Shift the closing cross to the right */
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
  }
  
  .modal-header .close {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: none;
    opacity: 0.5;
    background: transparent;
    border: none;
  }

  .modal-title{
    font-size: x-large;
  }

  .modal-body{
    margin-top: 15px;
  }
  
  /* Add spacing above the login button */
  .modal-body .form-group + .form-group {
    margin-top: 1rem;
  }
  
  /* Style the login button */
  .modal-body button {
    background-color: #ff6f96;
    border-color: #ff6f96;
    color: white;
    margin-top: 1rem;
    font-size: 18px;
  }
  
  .modal-body button:hover {
    background-color: #e65a7e;
    border-color: #e65a7e;
  }

  button a{
    color: rgba(86, 85, 85, 0.998);
    text-decoration: none;
  }

  .terms {
    font-size: 0.85rem;
    margin-bottom: -2.5%;
  }